*{
    list-style: none;
    box-sizing: border-box;
    text-decoration: none;
}

.mail-container{
     display: grid;
     grid-template-columns:  1fr 2fr;
     grid-template-areas: 'features features';
     gap: 10px;        
     background-color: #bbb3b3; 
     border: 2px solid black;
}

.mail-search{
    position: absolute;
    top: -7px;
    width: 100%;
    left: 2px;
    background: linear-gradient(#1b1b1b, rgba(119, 126, 121, 0.658));
    border: 1px solid rgb(103, 180, 122);
    border-radius: 5px;
    color:black;
    padding: 2px ;
    height: 23px;;
}

.mail-search::placeholder{
    color: black;
}

.mail-features{
    display: flex;
    justify-content: space-around;
    flex-direction: row;
    grid-area: features;
    background-color: #bbb3b3;
    height: 60px;
    font-size: 35px;
    padding: 15px;
}

.mail-features a{
    cursor: pointer;
}

.email-details{
    padding: 10px;
    height: 100vh;
    border: 2px solid black;
    margin-right: 3px;
}
.mister-email-header{
    margin: 0 auto;
    text-align: center;
    background-color: rgb(46, 43, 43);
    font-family: 'Satisfy', cursive;
    color: rgb(27, 233, 72);

}
.emial-list-container{
    position: relative;
}

.email-list{
    display: flex;
    flex-direction: column;
    background-color: #bbb3b3;
    padding: 2px;
    width: 100%;
    height: 100vh;
    overflow-y: auto;
}

::-webkit-scrollbar {
    width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
    background: #888; 
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555; 
}


.email-preview-items{
    margin-top: -10px;
    color: black;
    margin-bottom: 2px;
}
.sender-name{
    margin-left: 10px;
}

.email-subject{
    margin-left: 50px;
    margin-top: -20px;
}



.email-preview{
    border: 1px solid black;
    box-shadow: 0 0 2px 2px inset rgba(255, 0, 0, 0.747);
    height: 60px;
}

.email-preview:hover{
    box-shadow: 0 0 2px 2px inset rgba(0, 183, 255, 0.747);
}

.email-preview-read{
    border: 1px solid black;
    box-shadow: 0 0 2px 2px inset rgba(51, 255, 0, 0.747);
    height: 60px;
}

.read-Unread-delete-btns{
    margin-top: 20px;
    margin-right: 5px;
    float: right;
    cursor: pointer;
}

.fa-inbox:hover{
    color: white;
}

.fa-envelope-open:hover{
    color: rgba(51, 255, 0, 0.747);
}

.fa-envelope:hover{
    color: rgba(255, 0, 0, 0.747);
}

.fa-paper-plane:hover{
    color: rgba(17, 0, 255, 0.747);
}

.from-details{
    font-size: 15px;
    color: black;
}

.email-details-from{
    color: rgb(61, 61, 61);
}

.fa-envelope{
    position: relative;
}
.fa-circle{
    position: absolute;
    left: 28px;
    top: -5px;
    color: red;
    font-size: 25px;
}
.noti-div{
    position: relative;
}
.noti-div-hide{
    position: relative;
    display: none;
}
.noti{
    position: absolute;
    top: -13px;
    left: 4px;
    color: black;
    font-size: 18px;
}

.email-send{
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: 10px;
    height: 100vh;
    border: 2px solid black;
    margin-right: 3px;
}

.from-bar ,.subject-bar{

    background: linear-gradient(#cec2c2, rgba(249, 255, 250, 0.658));
    border: 1px solid rgb(103, 180, 122);
    border-radius: 5px;
    color:black;
    font-size: 14px;
    padding: 2px ;
    height: 23px;;
    margin: 10px;
}
.from-bar::placeholder, .subject-bar::placeholder{
    color: black;
}

.body-text{
    background: linear-gradient(#cec2c2, rgba(249, 255, 250, 0.658));
    border: 1px solid rgb(103, 180, 122);
    border-radius: 5px;
    color:black;
    font-size: 14px;
    padding: 2px ;
    margin: 10px;
}

.send-btn{
    height: 30px;
    font-size: 16px
}

@media (max-width: 570px){
    .mail-container{
        display: grid;
        grid-template-columns:  1fr;
        grid-template-areas: 'features ';
    }
    .mail-search{
        top: -24px;
        left: 0px;
    }
    .mail-features{
        height: 70px;
    }

}